/node_modules
/db
.env
/data-store/users-data/users/*.*
/data-store/movies-data/contents/movie/action/*.*
/data-store/movies-data/contents/movie/drama/*.*
/data-store/movies-data/contents/series/action/*.*
/data-store/movies-data/contents/series/drama/*.*